#selector{
	background: #FFF;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	overflow-y: scroll;
	overflow-x: hidden;
		
	> .wrapper {
		margin: 0 10px;
		position: absolute;
	
	@include screen-small{
		margin: 10px 0;
		display: table;
	}
	}
	
	canvas{
		display: block;
	}
		
	.option{
		position: relative;
		cursor: pointer;
		margin-bottom: 10px;
		
		.canvas-color{
			position: absolute;
			opacity: .25;
			transition-property: opacity;
			transition-duration: .75s;
		}
		
		.canvas-bw {
			//grayscale image
		}
	
	&.preloader { @include preloader() }
	&:hover,
	&:focus {
		
		.canvas-color{
			opacity: 1;
		} 
	}	
	
	@include screen-small{
		margin-bottom: 0;
		padding-right: 10px;
		display: table-cell;
	}
	}
	

@include screen-small{
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-bottom: 1em;
}
}
	