html{
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	height: 100%;

@include screen-small{
	//overflow-y: scroll;
// 	height: auto;
}
}

#app {
height: inherit;	

	> .wrapper {
		height: inherit;
/*
		overflow-y: auto;
		overflow-x: hidden;
*/
		
	@include screen-small{
// 		overflow-y: hidden;
	}		
	}
}

