/*
#content {
	width: 70%;
	height: inherit;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
	direction: rtl;
	cursor: -webkit-grab;
	
	> .wrapper {
		position: relative;
		direction: ltr;
		z-index:10;
	}	

body.modal & {
	//hide scrollbar when modal active 
	//overflow -> hidden has resize bug 
	margin-left: -20px;
	padding-left: 20px;

@include ua( sf5-1 sf6 sf6-1 sf6-2){
	overflow: hidden;
}
}


@include screen-small{
	width: 100%;
	float: none;
	overflow: hidden;
	direction: ltr;
	cursor: default;
}
}
*/

/*
#sidebar {
	width: 30%;
	position: relative;
	float: right;	
	
@include screen-small{
	width: 100%;
	float: none;
}
}
*/

/*
header,
nav,
main, 
footer {
	
	> .wrapper{
		margin: 0 6em;
			 
		@include screen-small{
			margin: 0 1em;
		}
	}			
}	

header {
	margin-bottom: 0;
	
	> .wrapper{
		
		div {
			
			&.logo{
			
			@include screen-full{
				margin-right: 20em;
			}
			@include screen-large{
				margin-right: 10em;
			}
			@include screen-small{
				margin-right:0;
			}
			}
		}
	
	}

@include screen-small{
	margin-bottom: 0;
}
}

nav {
	margin-bottom: 2em;


}

main {
	opacity: 1;
	transition: opacity .5s;
	
	.content {
// 		width: 60%;
// 		width: 100%;
	
	&.people,
	&.projects,
	&.contact {
		display: none;
	
	&.active {
		display: block;
	}
	
	}
	
	@include screen-small{
		width: auto;
	}
	}
	
&.fade {
	opacity: 0;
}
@include screen-small{
	position: relative;
}
}

footer {
	margin-top: 4em;
	margin-bottom: 2em;
	.wrapper{
		color: $white;
		padding: .25em;
	}
}
*/