header {
	
	> .wrapper{
/*
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
*/
	
		div {
		
		&.logo{
// 			flex: 1 1 auto;
		}
		}
	
	@include screen-small{
// 		flex-flow: column;
	}
	}
}	

#selector {
	
	> .wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: space-between;
// 	height: 100%;

		
	@include ua(sf5-1 sf6){
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
	
	@include screen-small{
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
	
		@include ua(sf5-1 sf6){
			-webkit-box-orient: horizontal;
		}
	}
	}
	
}